@{
    ViewData["Title"] = "Home Page";
}

@model List<MovieApp.Models.Movie>

<div class="container">
    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row mb-4">
            @for (int j = i; j < i + 3 && j < Model.Count; j++)
            {
                var movie = Model[j];
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="mw-100 w-75 h-auto shadow rounded-1 p-2 mb-2" id="buyBox-@j">
                        <img class="rounded-1 img-fluid" src="@movie.ThumbUrl" alt="@movie.Name" />
                        <h4 class="mt-2"><a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@j" class="text-decoration-none text-black">@movie.Name</a></h4>
                        <h5 class="mt-2"><a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@j" class="text-decoration-none text-black">$@movie.Price</a></h5>
                        <button class="btn btn-primary w-100 d-none">Buy</button>
                    </div>
                </div>
            }
        </div>
    }
</div>